body{
    font-size: 1.5em;
    line-height: 1.25em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: whitesmoke;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
    float: right;
    padding-right: 20vw;
}
input{
    font-size: 1em;
    line-height: 1.25em;
}
input[type=submit]{
    border: black thin solid;
    background-color: transparent;
    border-radius: 10px;
    box-shadow:  3px 3px 8px #888888;
}
header{
    padding-top: 2vh;
    padding-bottom :1vh;
    height: 4vh;
    min-height: 30px;
    padding-left :5px;
    border: black thin solid;
    background-color: white;
}
main{
    padding-top: 1vh;

}
#Main{
    display: none;

}
canvas{
    position:relative;
    height: 600px;
    width: 1800px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
#canvas{
    float: none;
    overflow: auto;
    width: 95vw;
    height: 65vh;
    max-height: 625px;
    max-width: 1825px;
    margin-right: auto;
    margin-left: auto;
}
.username{
    text-align: center;
    padding-top: 20vh;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    line-height: 200%;
}
#Username{
    width: 300px;
    text-align: center;
}
.earaser, h2{
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}
.earaser{
    width: 130px;
    background-color: white;
    border: black thin solid;

}
.Tools{
    display: flex;
    justify-content: space-evenly;
    width: 96vw;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
}
.Tools li{
    display: block;
    background-color: white;
    border: black thin solid;
    margin: 4px;
    height: 20vh;
    width: 30vw;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
.Size input{
    background-color: transparent;
    border: none;
    margin: 0.5vw;
}
.Size input:nth-of-type(1){
    font-size: medium;
}
.Size input:nth-of-type(2){
    font-size: large;
}
.Size input:nth-of-type(3){
    font-size: larger;
}
.Size input:nth-of-type(4){
    font-size: x-large;
}
.Size input:nth-of-type(5){
    font-size: xx-large;
}
.long{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#colorlong {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#colorlong input{
    width: 4vw;
    max-width: 60px;
    height: 4vw;
    max-height: 60px;
    border-radius: 100%;
    border: none;
    margin-top: 4px;
    margin-right: 0.5vw;
    margin-left: 0.5vw;

}
#shapelong input{
    background-color: transparent;
    border: none;
    font-size: 4vw;
    margin: 0.5vw;
}
.short input{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}
.colorshort input{
    border-radius: 100%;
    margin: 4px;
}
.select{
    border: black thin solid;
    display: block;
    position: absolute;
    height: 260px;
    overflow: auto;
    width: 80px;
    margin-top: -241px;
    margin-left: 9vw;
    background-color: white;
}
.active .menu{
    border-radius: 0;
    width: 20px;
    border: black thin solid;
    padding: 2px;
    background-color: white;

}
.active{
    border: black thin solid;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.active input{
    width: 50px;
    height: 50px;
    margin: 5px;
}

@media screen and (min-width: 800px) /* Mobile */ {
    .short{display: none}
    .long{display: flex}

}
@media screen and (max-width: 800px) /* Mobile */ {
    .long{display: none}
    .short{display: flex}
    .select{display: none}
}
